.contatos_title {
   letter-spacing: .07272727em;
   font-family: Roboto, sans-serif;
   font-size: .688rem;
   font-weight: 500;
   line-height: 1rem;
   text-transform: uppercase;
   display: flex;
   padding: 20px;
   max-height: 20px;
}

.contatos_items_container {
   width: 100%;
   display: flex;
   flex-direction: column;
}

.contatos_items {
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(auto-fit, minmax(15rem, 3fr));
   border-bottom: 1px solid #F1F3F4;
   padding: 20px;
   cursor: pointer;
}

.contatos_items:hover {
   background-color: #e7eeff;
   background-size: 100% 112px;
}
.item_celd {
   text-align: left;
   font-size: 14px;
   line-height: 20px;
}