.nav_container {
   display: flex;
   flex-wrap:wrap;
   align-items: center;
   justify-content: space-between;
}

.navegacao {
   display: flex;
   gap: 1rem;
   align-items: center;
   justify-content: baseline;
}

.nav_bars {
   height: 1.5rem;
   width: 1.5rem;
   padding: 0.8rem;
   border-radius: 50%;
}
.nav_bars:hover {
   height: 1.5rem;
   width: 1.5rem;
   padding: 0.8rem;
   background-color: #EBECEC;
   border-radius: 50%;
   cursor: pointer;
}

.menu_bar {
   width: 280px;
   background-color: transparent;
   transform: translateX(0);
   visibility: visible;
   box-shadow: 0 0;
   overflow: hidden;
   color: #000;
   height: calc(100vh - 100%);
   position: absolute;
   top: 100%;
   z-index: 990;
   display: flex;
   flex-direction: column;
   left: -100%;
   transition: 850ms;
}
.menu_bars_active {
   width: 280px;
   background-color: #000;
   color: #EBECEC;
   left: 0;
   transition: 350ms;
   top: 100%;
   z-index: 990;
   display: flex;
   flex-direction: column;
   left: -100%;
   transition: 850ms;
}

.menu_user {
   display: flex;
   gap: 1rem;
   align-items: center;
}
.menu_title {
   font-size: 1.5rem;
   line-height: 1.4rem;
   font-weight: 500;
   font-family: "Work Sans", sans-serif;
}

.nav_search {
   width: 40rem;
   display: flex;
   align-items: center;
   justify-content:center;
}

.nav_search input {
   height: 3.1rem;
   width: 50rem;
   border: none;
   border-radius: 4rem 0 0 4rem;
   background-color: #F1F3F4;
   padding: 1rem;
   font-family: Roboto;
   font-size: 1rem;
   outline: none;
}

.btn_search {
   height: 3.1rem;
   padding: 1rem;
   background-color: #F1F3F4;
   border: none;
   border-radius: 0 4rem 4rem 0;
   font-size: 1rem;
   color: #5f6368;
}
