.avatar {
  position: relative;
  height: 50px;
  width: 50px;
  margin: auto;
}
.avatar__conteudo {
  font-size: 50px;
  background-color: #e9ba36;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #4693f6
}
.avatar__conteudo:hover {
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 15px 5px #1A73E8;
  box-shadow: 0px 2px 25px 2px #1A73E8;
}

.avatar__imagen {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.avatar__badge {
  position: absolute;
  bottom: -10px;
  left: 40px;
  background-color: #e9ba36;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
