

.main {
  width: 100%;
  min-height: 100vh;
  padding: 0 16px 20px;
  display: flex;
  flex: 1 1 auto;
  align-items: flex-start;

  
}

.container_titles {
  height: 50px;
  width: 100%;
  margin-bottom: 0.5rem;
  cursor: default;
  position: sticky;
  display: table;
  table-layout: fixed;
  text-align: center;
  text-align-last: left;
  border-spacing: 100px 15px;
  padding: 0 2rem;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}



.main_elements {
  display: table-cell;
  letter-spacing: 1px;
  font-family: Roboto, sans-serif;
  font-size: 0.874rem;
  font-weight: 500;
  line-height: 1.25rem;
  vertical-align: middle;
}

.contatos_title {
  letter-spacing: 0.07272727em;
  font-family: Roboto, sans-serif;
  font-size: 0.688rem;
  font-weight: 500;
  line-height: 1rem;
  text-transform: uppercase;
  display: table;
  table-layout: fixed;
}


