@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Work+Sans:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  font-family: Roboto, sans-serif;
  color: #5f6368;
 
}


.main {
  width: 100%;
  min-height: 100vh;
  padding: 0 16px 20px;
  display: grid;
  grid-template-columns: 280px 1100px; 

  
}


.container_titles {
  height: 50px;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 10px;
  cursor: default;
  position: sticky;
  display: table;
  table-layout: fixed;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.main_elements {
  display: table-cell;
  letter-spacing: 0.01785714em;
  font-family: Roboto, sans-serif;
  font-size: 0.874rem;
  font-weight: 500;
  line-height: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.contatos_wraper {
  width: 100%;
  display: table;
  table-layout: fixed;
  background-color: #fff;
  width: 100%;
  transition: .1s all;
}
